.bottom-menu {
  background: #f1f1f1;
  position: fixed;
  bottom: 0;
  height: var(--bottom-menu-height);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-menu img {
  width: 30px;
}

