.cube {
  width: 34px;
  height: 34px;
}
.cube .front-side {
  fill: color-mix(in srgb, var(--color) 85%, white);
}

.cube .right-side {
  fill: var(--color);
}
.cube .top-side {
  fill: color-mix(in srgb, var(--color) 85%, white);
}
